# Dashboard

In [14]:
import streamlit as st
import pandas as pd
import numpy as np

In [9]:
st.title("Application de prédiction de risque de défaut individuel")

DeltaGenerator()

In [15]:
feat_important_sorted_decroissant=pd.Series(pd.read_csv('Outputs/feat_important_sorted_decroissant.csv',header=None)[0])
feat_important_sorted_decroissant=feat_important_sorted_decroissant.array
var_lgbm_100=np.append(feat_important_sorted_decroissant[:100],'TARGET')

In [17]:
@st.cache_data
def get_pf_data():
    
    df = pd.read_csv("Outputs/df_total.csv",sep='\t',compression='zip',index_col='ID')
    return df

2023-09-25 14:21:45.740 No runtime found, using MemoryCacheStorageManager

In [31]:
df = get_pf_data()

2023-09-25 14:25:07.659 No runtime found, using MemoryCacheStorageManager

In [38]:
info_base=['CODE_GENDER','FLAG_OWN_CAR','FLAG_OWN_REALTY','CNT_CHILDREN','AMT_INCOME_TOTAL','AMT_CREDIT','AMT_ANNUITY',
 'AMT_GOODS_PRICE','REGION_POPULATION_RELATIVE','DAYS_BIRTH','DAYS_EMPLOYED',
 'FLAG_PHONE','FLAG_EMAIL','REGION_RATING_CLIENT','REGION_RATING_CLIENT_W_CITY']

In [40]:
#print(pd.DataFrame(data=df.columns).to_markdown())

In [41]:
client = st.multiselect(
    "Choix de l'ID Client à afficher", list(df.index),
)
if not client:
    st.error("Au moins une ID doit être sélectionnée")
else:
    donnee_affichee = df.loc[client,info_base].T
    st.write("### Informations générales", donnee_affichee)

In [7]:
df[['CODE_GENDER','FLAG_OWN_CAR']].head()

        CODE_GENDER  FLAG_OWN_CAR
ID
100002            0             0
100003            1             0
100004            0             1
100006            1             0
100007            0             0